@import base
@import commonStyle

div
  &:not(:last-of-type)
    margin-bottom: .5em

img
  width: (608px / 2)

input
  &[type="number"], &[type="text"]
    font-size: 1rem

#inputNum1
  display: inline-block
  margin-left: .25em

#metallicMeansResult
  .green
    background-color: $secondColor
  div
    @for $i from 1 through 3
      &:nth-of-type(#{$i})
        display: inline-flex
        align-items: center
        width: 260px
        input[type="text"]
          margin-right: .25em
          margin-left: .25em
    @for $i from 1 through 3
      &:nth-of-type(#{$i})
        span
          &.en
            display: inline-block
            width: 100px
            text-align: right

#aspectRatioResult
  .green
    background-color: $secondColor
  @for $i from 1 through 6
    div
      &:nth-of-type(#{$i})
        display: inline-flex
        align-items: center
        width: 200px
        span
          display: inline-block
          width: 56px
          text-align: right
        input[type="text"]
          margin-right: .25em
          margin-left: .25em

@media screen and (max-width: 360px)
  #metallicMeansResult
    div
      @for $i from 1 through 3
        &:nth-of-type(#{$i})
          span
            &.en
              display: inline-block
              width: 100%
              text-align: left
