header
  a.back(href="index.html")
    span.en(lang="en") Back
    span.ja(lang="ja") 戻る
    span.cn(lang="zh-cn") 返回
  select#languageSelect
    option(value="en" selected="") English
    option(value="ja") 日本語
    option(value="cn") 中文
