header select {
  position: relative;
  top: 3px; }

div:not(:last-of-type) {
  margin-bottom: .5em; }

img {
  width: 304px; }

input[type="number"], input[type="text"] {
  font-size: 1rem; }

#inputNum1 {
  display: inline-block;
  margin-left: .25em; }

#metallicMeansResult .green {
  background-color: #008516; }

#metallicMeansResult div:nth-of-type(1) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px; }
  #metallicMeansResult div:nth-of-type(1) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#metallicMeansResult div:nth-of-type(2) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px; }
  #metallicMeansResult div:nth-of-type(2) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#metallicMeansResult div:nth-of-type(3) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px; }
  #metallicMeansResult div:nth-of-type(3) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#metallicMeansResult div:nth-of-type(1) span.en {
  display: inline-block;
  width: 100px;
  text-align: right; }

#metallicMeansResult div:nth-of-type(2) span.en {
  display: inline-block;
  width: 100px;
  text-align: right; }

#metallicMeansResult div:nth-of-type(3) span.en {
  display: inline-block;
  width: 100px;
  text-align: right; }

#aspectRatioResult .green {
  background-color: #008516; }

#aspectRatioResult div:nth-of-type(1) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(1) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(1) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#aspectRatioResult div:nth-of-type(2) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(2) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(2) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#aspectRatioResult div:nth-of-type(3) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(3) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(3) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#aspectRatioResult div:nth-of-type(4) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(4) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(4) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#aspectRatioResult div:nth-of-type(5) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(5) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(5) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

#aspectRatioResult div:nth-of-type(6) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px; }
  #aspectRatioResult div:nth-of-type(6) span {
    display: inline-block;
    width: 56px;
    text-align: right; }
  #aspectRatioResult div:nth-of-type(6) input[type="text"] {
    margin-right: .25em;
    margin-left: .25em; }

@media screen and (max-width: 360px) {
  #metallicMeansResult div:nth-of-type(1) span.en {
    display: inline-block;
    width: 100%;
    text-align: left; }
  #metallicMeansResult div:nth-of-type(2) span.en {
    display: inline-block;
    width: 100%;
    text-align: left; }
  #metallicMeansResult div:nth-of-type(3) span.en {
    display: inline-block;
    width: 100%;
    text-align: left; } }
